* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.container {
  max-width: 1280px;
  width: 100%;
  margin-inline: auto;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}
