* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.container {
  max-width: 1280px;
  width: 100%;
  margin-inline: auto;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.row {
  display: flex;
  margin-bottom: 16px;
}

.col {
  flex: 1 1 50%;
  width: 50%;

  &:not(:last-child) {
    margin-right: 16px;
    width: calc(50% - 8px);
  }
}

.label {
  font-size: 13px;
  padding-bottom: 4px;
}

.subtitle {
  padding-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  color: $violet;
}

.w-100 {
  width: 100%;
}
